.profile header {
  background-color: rgba(0, 0, 0, 0.312);
  position: relative;
}

.move-up {
  position: fixed;
  color: blue;
  background-color: rgba(0, 0, 0, 0.29);
  font-weight: bold;
  right: 0;
  bottom: 100px;
  padding: 4px 10px;
  border-radius: 4px 0 0 4px;
  text-decoration: none;
  transition: all 0.5s;
}

.move-up:hover {
  transition: all 0.5s;
  color: white;
  background-color: blueviolet;
}

.profile header div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px;
  gap: 20px;
  align-items: center;
  max-width: 700px;
  margin: 0 auto;
}

.profile .username {
  font-weight: bold;
  font-size: xx-large;
  color: white;
  text-shadow: -3px -3px black;
  font-variant: small-caps;
  letter-spacing: 4px;
  text-align: center;
}

.profile .followers,
.profile .following {
  color: blue;
  padding: 4px 20px;
  background-color: #fff;
  border-radius: 4px;
  font-weight: 400;
}

.follow-btn {
  background-color: blue;
  border: none;
  border-radius: 4px;
  padding: 4px 20px;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.profile .posts {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.profile .post {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid rgba(255, 255, 255, 0.37);
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  max-width: 700px;
}

.post-title {
  color: rgb(73, 38, 38);
  font-weight: bold;
  border-bottom: 2px solid blueviolet;
  width: fit-content;
  padding: 0 10px 0 10px;
  max-width: 500px;
  word-wrap: break-word;
  word-break: keep-all;
  margin: auto;
}

.post-desc {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.263);
  padding: 4px;
  border-radius: 4px;
  height: 100%;
  max-height: 200px;
  overflow: auto;
}

.profile .likepostbtn {
  color: white;
  padding: 6px 20px;
  width: fit-content;
  border: none;
  font-weight: bold;
  border-radius: 4px;
  background-color: blueviolet;
  cursor: pointer;
  text-decoration: none;
}

.profile .noOflikes {
  width: fit-content;
  padding-right: 10px;
  padding-bottom: 2px;
  border-bottom: 4px solid rgb(148, 3, 3);
}
