{% extends "base.html" %} 
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <form action="login" method="POST">
        {% csrf_token %}
        <input required type="text" placeholder="Username" name="username" id="">
        <input required type="password" placeholder="Password" name="password" id="">
        <input type="submit" value="Login">
    </form>
    <p class="register">Don't have an account yet? <a href="register">Register</a></p>
</body>
</html>
{% endblock %}